@font-face {
  font-family: "roboto-condense";
  src: url(/font/roboto-condense/RobotoCondensed-Bold.ttf);
}
@font-face {
  font-family: "roboto-condense-light";
  src: url(/font/roboto-condense/RobotoCondensed-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  /* border: 1px solid coral; */
}
body {
  background: #0f0f0f;
  color: #fff;
  font-family: "roboto-condense-light";
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-family: "roboto-condense";
  padding: 0 20px;
  font-size: 1.5rem;
}

nav h2 {
  cursor: pointer;
  transition: all 0.5s ease;
}
nav h2:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
nav ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
nav ul li {
  cursor: pointer;
  width: 120px;
  text-align: center;
  transition: all 0.5s ease;
}
nav li:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
}
section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 600px;
}
section .div-left {
  padding: 20px;
  width: 50%;
}
section .div-left h1 {
  font-size: 5rem;
  animation-name: animation-left-h1;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-direction: 2s;
  animation-delay: 0s;
}
section .div-left h3 {
  font-size: 1.5rem;
  color: rgb(32, 58, 255);
}
section .div-right {
  padding: 20px;
  width: 50%;
}
section .div-right img {
  height: 550px;
  width: 650px;
  animation-name: animation-right;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

footer {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-areas:
    "foot-h4 foot-div-h4"
    "foot-h4 foot-div-image";
  background: black;
  margin: 0 20px;
  min-height: 200px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 50px;
}
footer .foot-right-top {
  grid-area: foot-div-h4;
}

footer .foot-left {
  grid-area: foot-h4;
  padding: 20px;
  text-align: center;
  width: 150px;
  height: 160px;
}

footer .foot-right-bottom {
  grid-area: foot-div-image;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .foot-left ul {
  margin-top: 10px;
}
footer .foot-left ul li {
  margin: 10px 0;
  background: blue;
  border: none;
  border-radius: 8px;
  padding: 8px;
}
footer .foot-right-bottom img {
  height: 60px;
  margin: 0 auto;
}

@keyframes animation-right {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.1);
  }
}
