@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --color1: #ffffff;
  --color2: #1d1d1d;
  --color3: #0d0d0d;
  --color4: #474cfe;
}
body {
  overflow-x: hidden;
  color: var(--color1);
  background: var(--color2);
  font-family: "Inter", sans-serif;
  padding: 10px;
  min-height: 100vh;
  user-select: none;
  cursor: none;
}
p {
  font-size: 0.9rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
nav a,
a:visited {
  color: var(--color1);
  transition: 0.3s ease;
  z-index: 1000;
  position: relative;
}
a:hover {
  color: var(--color4);
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.3s ease;
}
.firstSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
.firstSection .firstSectionLeft {
  padding: 10px;
  width: 50%;
}
.firstSectionLeft .firstSectionLeftChild {
  width: 100%;
}
.firstSectionLeft .firstSectionLeftChild h1 {
  font-size: 5rem;
}
.firstSectionLeft .firstSectionLeftChild h3 {
  font-size: 1.1rem;
  color: var(--color4);
}
.firstSection .firstSectionRight {
  padding: 10px;
  width: 50%;
}

.firstSection .firstSectionRight img {
  width: 100%;
}
.secondSection {
  display: flex;
  justify-content: space-between;
  background: var(--color3);
  padding: 10px;
  border-radius: 10px;
}
.secondSection .secondSectionLeft {
  width: 33%;
}

.secondSectionLeft ul {
  padding: 5px;
}
.secondSectionLeft ul li {
  text-align: center;
  padding: 5px;
  width: 130px;
  margin: 5px 0;
  border-radius: 8px;
  background: var(--color4);
  font-size: 0.8rem;
}
.secondSectionRight {
  width: 77%;
}
.secondSectionRight .investorsImage {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.secondSectionRight .investorsImage img {
  height: 50px;
  margin-left: -100px;
}

.mousemove {
  position: absolute;
  border-radius: 2000px;
  mix-blend-mode: difference;

  transform: translate(-50%, -50%);
}
#cursor {
  height: 15px;
  width: 15px;
  border-radius: 30px;
  background: var(--color4);
}
#mousemove1 {
  height: 100px;
  width: 100px;
  background: var(--color1);
  transition: 0.15s ease-out;
}
#mousemove2 {
  height: 200px;
  width: 200px;
  background: var(--color2);
  transition: 0.2s ease-out;
}
